[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
sqlalchemy = "*"
python-jose = {extras = ["cryptography"], version = "*"}
uvicorn = {extras = ["standart"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}
python-multipart = "*"
cryptography = "==2.4.2"

[dev-packages]

[requires]
python_version = "3.9"
